html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #4a90e2; /* Blue */
    padding: 16px 4px;
    text-align: center;
    position: sticky;
    top: 0; /* Stick to the top of the viewport */
    z-index: 100; /* Ensure the navbar is above other elements */
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 16px;
}

nav a {
    text-decoration: none;
    color: #fff; /* White text */
    font-weight: bold;
    font-size: 16px;
    transition: color 0.2s ease; /* Smooth transition for color */
}

nav a:hover {
    color: #f5f5dc; /* Beige on hover */
}

section {
    padding: 16px;
    background-color: #f5f5dc; /* Beige */
    color: #333; /* Dark text */
    text-align: center;
    margin: 16px;
}

h2 {
    color: #4a90e2; /* Blue */
    padding: 24px 4px;
}

button{
    background-color: #4a90e2; /* Blue */
    color: #fff; /* White text */
    display: inline-block;
    text-align: center;
    font-size: 16px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth transition for background color */
}

button:hover {
    background-color: #f5f5dc; /* Darker blue on hover */
    color: #4a90e2 ; 
}

/* Add more styles as needed */
